body, html {
  background: #007bff;
  height: 100%;
  color: white;
}

h1 {
  height: auto;
  display: table;
  width: 80%;
  text-align: center;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 3.4vw;
}

h2 {
  z-index: 1;
  height: auto;
  display: table;
  width: 80%;
  text-align: center;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 150px;
  left: 0;
  bottom: 0px;
  right: 0;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 2vw;
}

/*h2 {
  position: fixed;
  text-align: center;
  top: 10px;
  right: 20px;
  color: white;
  font-size: 20px;
  font-family: Roboto;
  font-weight: normal;
  z-index: 999;
}*/
h2 span {
  font-size: 15px;
  font-weight: lighter;
}
h2 a {
  color: white;
  font-size: 15px;
  padding: 0 30px;
}

.link {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 1.75vw;
}
